<!DOCTYPE html>
<html lang="en" ng-app="memoryGameApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
    <title>Memory Game</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endinject -->
</head>

<body ng-controller="memoryGameController as vm">
    <div>
        <h1>Memory Game
            </h1>
    </div>
    <div class="container" ng-cloak>
        <div class="row">
            <div ng-repeat="card in vm.cards" ng-click="vm.flipCard(card)" class="col-xs-2">
                <span ng-hide="card.flipped"><img src="img/brain.jpg"></span>
                <span id="value" type="text" ng-show="card.flipped">{{card.value}}</span>
            </div>
        </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <script src="/js/memoryGame.Controller.js"></script>
    <!-- endinject -->
</body>

</html>
